// THIS IS BAD AND U SHOULD FEEL BAD
// CLEAN THIS UP!!!!!!

body {
  background-color: #eee;
  font-family: Tahoma, Geneva, sans-serif;
}

.navbar {
  background-color: #f1ac38;

  a {
    text-decoration: none;
    color: #333;
  }

  a:hover {
    color: inherit;
    text-decoration: none;
  }
}

.navbar-default {
  color: #333;
}

.btn_detail {
  font-family: Tahoma, Geneva, sans-serif;
}

.page-header {
  h1 {
    margin: 0;
  }

  form {
    margin-top: 0.5em;
  }
}

.small-text {
  h4 {
    font-size: 100%;
  }
}

.index-listing {
  h4, p {
    margin: 0;
  }
  h2 {
    margin: 0;
    padding-bottom: 0.5em;
  }
  margin-bottom: 1em;
}

.listing {
  border-left: 10px solid #f1ac38;
  background-color: #aaa;
  color: #000;
}

.pagination {

  li {
  list-style: none;
  display: inline;
  font-size: 150%;
  letter-spacing: 1em;
  }

  a {
    color: #333;
    text-decoration: none;
  }
}

.black_text {
  color: #333;
}

.thumbnail {
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
}

.index-img {
  padding: 0;
  background-color: #aaa;
  border-left: 10px solid #f1ac38;
  height: 16em;
}

.index_details {
  height: 16em;
  line-height: 2em;
  p {
    line-height: 2em;
  }
}

.index_des {
  height: 15em;
}

.splash_show {
  border-left: 10px solid #f1ac38;
  background-color: #aaa;
  height: 25em;
  h4 {
    font-size: 150%;
  }
}

.modal-image {
  .modal-header {
    border-bottom: 0;
  }

  a {
    text-decoration: none;
    color: #333;
  }
  border-left: 10px solid #f1ac38;
  background-color: #aaa;
  border-top: 0;
}


.description_show {
  border-left: 10px solid #f1ac38;
  background-color: #aaa;
  padding: 1em;
}

.old_home {
  color: #f00;
}

.new_home {
  color: #34b300;
}

.price_border {
  border-bottom: 3px solid #f1ac38;
  border-left: 3px solid #f1ac38;
  border-bottom-left-radius: 0.3em;
  padding: 0 0 0.1em 0.1em;
}

.form_box {
  border-left: 10px solid #f1ac38;
  background-color: #aaa;
  padding: 1em;
  height: 15em;
}

.form_box_desc {
  border-left: 10px solid #f1ac38;
  background-color: #aaa;
  padding: 1em;
}

.home-favorite.favorited {
  color: red;
}

.carousel {
  margin-top: 3em;
}

.carousel-inner .item img {
    margin: 0 auto;
}

// THIS IS WEAKSAUCE!!!
.prev a {
  display: none;
}

.next a {
  display: none;
}
//////////////////////

@media only screen and (max-width: 768px) {
  .form_box {
    height: auto;
  }
  .index-img {
    height: 17em;
  }
}
